body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 1100px;
    background: rgb(235, 235, 235);

    .container__where-box-is {
        height: 400px;
        display: flex;
        display: flexbox;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;

        .border-on {
            width: 400px;
            height: 200px;
            background: grey;
            border: 0px solid black;
        }
    }

    .container__where-options-are, .copy-border-options {
        display: flex;
        display: flexbox;
        justify-content: center;
        align-items: center;
        height: 200px;
        border-bottom: 1px solid black;

        .options {
            
            .border {
                margin-top: 5px;
            }
        }
    }
}

