body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  width: 1100px;
  background: #ebebeb; }
  .container .container__where-box-is {
    height: 400px;
    display: flex;
    display: flexbox;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black; }
    .container .container__where-box-is .border-on {
      width: 400px;
      height: 200px;
      background: grey; }
  .container .container__where-options-are {
    display: flex;
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 200px; }
    .container .container__where-options-are .options .border {
      margin-top: 5px;
      justify-content: space-between; }
      .container .container__where-options-are .options .border p {
        display: inline-block; }
