body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  width: 1100px;
  background: #ebebeb; }
  .container .container__where-box-is {
    height: 400px;
    display: flex;
    display: flexbox;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black; }
    .container .container__where-box-is .border-on {
      width: 400px;
      height: 200px;
      background: grey;
      border: 0px solid black; }
  .container .container__where-options-are, .container .copy-border-options {
    display: flex;
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-bottom: 1px solid black; }
    .container .container__where-options-are .options .border, .container .copy-border-options .options .border {
      margin-top: 5px; }
